<thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Created Date</a>
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
</thead>