@using WRP3.Domain.Entities;
@model IEnumerable<Product>

@foreach (var item in Model ?? new List<Product>())
{
    <tr>
        <td>
            @item?.Id
        </td>
        <td>
            @item?.Name
        </td>
        <td>
            @item?.Created.ToString("d")
        </td>
        <td>
            <vc:pending-product-test product-id="@item.Id"/>
        </td>
        <td>
            <a class="btn btn-primary" asp-action="ProductTestCases" asp-route-id="@item.Id">Test Cases</a>
        </td>       
    </tr>
}