@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row align-content-center align-items-center">
    <div class="col-12 align-content-center">
        <h1>Error</h1>
        <h2>404</h2>
        <partial name="Layout/_StatusMessage" model='TempData.Peek("StatusMessage")' />
    </div>
</div>
