@using WRP3.Domain.Entities;
@model IEnumerable<Product>

@foreach (var product in Model ?? new List<Product>())
{
    <tr>
        <td>
            <div class="d-flex px-2">
                <div class="my-auto">
                    <h6 class="mb-0 text-sm">@product?.Id</h6>
                </div>
            </div>
        </td>
        <td>
            <p class="text-sm font-weight-bold mb-0">@product?.Name</p>
        </td>
        <td>
            <span class="text-xs font-weight-bold">
                @product?.Created.ToString("d")
            </span>
        </td>
        <td>
            <span class="text-xs font-weight-bold">
                 <vc:product-test-status product-id="@product?.Id" />
            </span>
        </td>
        <td class="align-middle">
            <a asp-action="Edit" asp-controller="Product" asp-route-id="@product?.Id"
               class="btn btn-link text-warning mb-0"
               data-bs-toggle="tooltip" data-bs-placement="top" title="Edit @product?.Name">
                <i class="fa fa-edit text-xs" aria-hidden="true"></i>
                Edit
            </a>
            <a asp-action="Details" asp-controller="Product" asp-route-id="@product?.Id"
               class="btn btn-link text-success mb-0"
               data-bs-toggle="tooltip" data-bs-placement="top" title="Details for @product?.Name">
                <i class="fa fa-info-circle text-xs" aria-hidden="true"></i>
                Details
            </a>
            <a onclick="passIdToModal(this)" id="deleteOpt" class="btn btn-link text-danger mb-0"
               title="Delete @product?.Name"
               data-bs-toggle="modal" data-bs-target="#DeleteModal"
               data-productId='@product?.Id'>
                <i class="fa fa-trash text-xs" aria-hidden="true"></i>
                Delete
            </a>
        </td>
    </tr>
}



<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="DeleteModalLabel">
                    Delete
                </h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="Product" method="get">
                    <input name="__RequestVerificationToken" type="hidden">
                    <input type="text" name="productId" id="productId" hidden required />
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-gradient-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function passIdToModal(e) {
        document.getElementById("productId").value = e.getAttribute("data-productId");
    }
</script>