@using WRP3.Domain.Entities;
@model IEnumerable<TestType>

@foreach (var testType in Model ?? new List<TestType>())
{
    <tr>
        <td>
            <div class="d-flex px-2">
                <div class="my-auto">
                    <h6 class="mb-0 text-sm">@testType?.Id</h6>
                </div>
            </div>
        </td>
        <td>
            <p class="text-sm font-weight-bold mb-0">@testType?.Name</p>
        </td>
        <td class="align-middle">
            <a asp-action="Edit" asp-controller="TestType" asp-route-id="@testType?.Id"
               class="btn btn-link text-warning mb-0"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Edit @testType?.Name">
                <i class="fa fa-edit text-xs" aria-hidden="true"></i>
                Edit
            </a>
            <a asp-action="Details" asp-controller="TestType" asp-route-id="@testType?.Id"
               class="btn btn-link text-success mb-0"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Details for @testType?.Name">
                <i class="fa fa-info-circle text-xs" aria-hidden="true"></i>
                Details
            </a>
            <a onclick="passIdToModal(this)" id="deleteOpt" class="btn btn-link text-danger mb-0"
               title="Delete @testType?.Name"
               data-bs-toggle="modal" data-bs-target="#DeleteModal"
           data-testTypeId='@testType?.Id'>
                <i class="fa fa-trash text-xs" aria-hidden="true"></i>
                Delete
            </a>
        </td>
    </tr>
}



<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="DeleteModalLabel">
                    Delete
                </h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
                <p class="text-danger">This operation could crash your site.</p>
                <p class="text-danger">The selected test could be linked to many products.</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="TestType" method="get">
                    <input type="text" name="testTypeId" id="testTypeId" hidden required />
                    <input name="__RequestVerificationToken" type="hidden">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-gradient-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function passIdToModal(e) {

        document.getElementById("testTypeId").value = e.getAttribute("data-testTypeId");
    }
</script>