@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid py-4">
    <div class="row">
        @if (!User?.Identity?.IsAuthenticated ?? false)
        {
            <a class="btn bg-gradient-primary mt-4 w-20" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
                <i class="fa fa-sign-in"></i>
                Sign in
            </a>
        }
        else
        {
            <vc:number-of-product />
            <vc:number-of-test-type />
            <vc:number-of-product-test />
            <vc:bar-chart-test-type />
        }
    </div>
</div>