@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid py-4">
    <div class="container-fluid text-center py-1 px-q">
    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            @if (!User?.Identity?.IsAuthenticated ?? false)
            {
                <a class="btn bg-gradient-primary mt-4 w-20" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
                    <i class="fa fa-sign-in"></i>
                    Sign in
                </a>
            }
        </div>
    </div>
    
</div>

</div>